{# templates/Main/homepage.html.twig #}

<html>

  <head>
    <title>Finance Manager</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>


  <body>

    <h1>Finance Manager (v Alpha-04)</h1>
    <hr/>

    <section>
        <h2>Gérer votre argent simplement.</h2>
     </section>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Opérations</a></li>
           <li role="presentation"><a href="#">Comptes</a></li>
    <!--       <li role="presentation"><a href="#">Récurrences</a></li> -->
           <li role="presentation"><a href="#">Rapports</a></li>
        </ul>
        <table class="table table-striped">
            <thead>
                <th>Date</th>
                <th>Opérations</th>
                <th>Valeur</th>
                <th>Source</th>
                <th>Destination</th>
                 <th>Status</th>
            </thead>
        <tbody>
            <tr>
                <td>21/11/2017</td>
                <td>Remboursement tio Tempuy</td>
                <td>200</td>
                <td>CA CCQ</td>
                <td>TempuyBank</td>
                <td></td>
            </tr>
            <tr>
                <td>21/11/2017</td>
                <td>Remboursement Colette Selle</td>
                <td>50</td>
                <td>CA CCQ</td>
                <td>Colette Selle</td>
                <td></td>
            </tr>
            <tr>
                <td>21/11/2017</td>
                <td>Caterina CA LivA</td>  
                <td>10</td>  
                <td>CA CCQ</td>  
                <td>Livret A Caterina</td>
                <td></td>
            </tr>
            <tr>
                <td>21/11/2017</td>
                <td>cantine + garderie</td>
                <td>83</td>
                <td>CA CCQ</td>
                <td>Mairie de Versailles</td>
                <td></td>
            </tr>
</tbody>

    </table>
  </body>
</html>