{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

<html>
  <head>
  </head>
  <body>
    <h1>Finance Manager</h1>
    <hr/>
    <section>
    <h2>Gérer votre argent simplement.</h2>
    </section>
  </body>
</html>